@import "./variables.scss";

.user-info {
    color: $color-primary;
    font-weight: bold;
    size: 3em
}

.user-info-secondary {
    color: $color-secondary;
    size: 2em  
}

.users-container {
    grid-column: 2 / 2;
    margin-top: $margin-medium;
}

.users-header {
    text-align: center;
    font-weight: normal;
    margin: $margin-medium;
}

.users {
    text-align: start;
}

.users-search {
    height: $input-size-medium;
    padding: $padding-small;
    font-size: large;
   
    border: solid black;
    width: 100%;
    &::placeholder {
        color: $color-secondary;
    }
}